.multiselect-box {
    width: 300px;
    margin: 30px;
    padding: 0px;
    position: relative; 
    cursor: text;
    color: #000;
    .selected-box {
        display: inline;
        .selected-items {
            margin: 2px;
            padding: 3px 5px;
            border-radius: 5px; 
            display: inline-block;
            background: #f1f1f1;
            cursor: default;
            button {
                outline: none;
                border: none;
                background: transparent;
                color: #999;
                cursor: pointer;
            }
            button:hover {
                color: #000;
            }
        }
    }   
    .search-box { 
        outline: none;
        display: inline;
        padding: 3px 5px;
        position: relative;
    }
    .placeholder {
        position: absolute;
        top: -10px;
        left: 0px;
        padding: 10px;
        cursor: text;
        color: #777;
        font-weight: normal;
    }
    .search-box:focus ~ .placeholder, .focus {
        top: -30px;
    }
    .search-box:focus ~ .search-result{
        display: block;
    }
    .show-unselecter {
        position: absolute;
        right: 0px;
        outline: none;
        border: none;
        background: transparent;
        color: #999;
        cursor: pointer;
    }
    .show-unselecter:hover {
        color: #000;
    }
    hr {
        margin-top: 5px;
        margin-bottom: 0px;
        border: 0.5px solid #000; 
    }
    .search-result {
        border-left: 1px solid #777;
        border-right: 1px solid #777;
        border-bottom: 1px solid #777;
        overflow: auto;
        max-height: 100px;
        display: none;
        button {
            color: #777;
            display: block;
            outline: none;
            border: none;
            border-bottom: 1px solid #ddd;
            padding: 5px;
            background: transparent;
            width: 100%;
            text-align: left;
        }
        button:hover {
            color: #000;
            background: #999;
        }
    }
    .search-result:hover {
        display: block;
    }
}