<div class="multiselect-box" (click)="makeFocus()">
  <div class="selected-box">
    <span class="selected-items" *ngFor="let item of selectedItems">
      {{item}}
      <button (click)="removeSelected(item)"> x</button>
    </span>
  </div>
  <div class="search-box" id="search-box" [textContent]="textInBox"
    (input)="textInBox=$event.target.textContent; search(this)" 
    contenteditable="true" (blur)="getFocus()"></div>
  <label class="placeholder">Placeholder</label>
  <button class="show-unselecter">
    <span class="glyphicon">&#xe114;</span>
  </button>
  <hr>
  <div class="search-result">
    <button *ngFor="let item of searchItems" (click)="addSelected(item)">{{item}}</button>
  </div>
</div>
